body{
    margin: 0;
    padding: 0;
}
.titulo{
    text-align: center;
    font-style: italic;
}

.msg{
    width: 30%;
    color: red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15%;
}

/*página do site*/
.main {
    width: 800px;
    height: auto;
    margin: auto;
}

/*titulo da página*/
#banner {
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #B0E0E6;
    box-shadow: 4px 4px 4px 4px #B0E0E6;
}
#banner small{
    line-height: 30px;
    color: white;
    font-size: 20px;
}

/*ações*/
article {
    margin-top: 5%;
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: 22%;
    box-shadow: 2px 2px 2px rgb(63, 63, 63);
}
#icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#img-icons {
    width: 100px;
    height: 100px;
    text-align: center;
}


/*texto*/
#spn{
    font-style: italic;
    color: red;
}
p {
    text-align: justify;
}
h3{
    font-size: 20px;
}

/*conteúdo*/
.text-titulo {
    text-align: center;
    margin-top: 2%;
    font-size: 23px;
    background-color: #696969;
    border-radius: 5px;
}

#msg{
    text-align: center;
    font-style: italic;
}